/* Effects goes here */

.button {
	opacity: 1 !important;
	cursor: pointer;
	-webkit-transition: opacity .25s ease;
	   -moz-transition: opacity .25s ease;
	    -ms-transition: opacity .25s ease;
	     -o-transition: opacity .25s ease;
	        transition: opacity .25s ease;
}
.button:hover {
	opacity: 0.6 !important;
	-webkit-transition: opacity .25s ease;
	   -moz-transition: opacity .25s ease;
	    -ms-transition: opacity .25s ease;
	     -o-transition: opacity .25s ease;
	        transition: opacity .25s ease;
}
.button:active {
	opacity: 1 !important;
	-webkit-transition: opacity .25s ease;
	   -moz-transition: opacity .25s ease;
	    -ms-transition: opacity .25s ease;
	     -o-transition: opacity .25s ease;
	        transition: opacity .25s ease;
}
.hidden {
	display: none !important;
}
.checkbox {
	cursor: pointer;
}
